.sc-dhKdcB.hsPEky{
  justify-content: center;
}

.react-flow__node{
  background: #191919;
  color: white
}


.react-flow__edge rect{
  fill: none !important;

}

.react-flow__edge text {
  fill: white;
}


.gMDsfU{
  overflow: auto !important;
}

h1{
  text-align: center;
}
